<div class="row">
  <div class="col-md-6">
  <h3>Sunday, Oct 13</h3>
    <table class="table table-striped">
      <tr> <td>DAYTIME</td><td>Arrival at High Seas</td> </tr>
      <tr> <td>6:00</td>  <td>Dinner</td> </tr>
      <tr> <td>7:00</td>  <td>Poster session</td> </tr>
      <tr> <td>8:30</td>  <td>End</td> </tr>
    </table>
  </div>  
  <div class="col-md-6">
  <h3>Monday, Oct 14</h3>
    <table class="table table-striped">
      <tr> <td>07:45</td>  <td>Welcome and course overview</td> </tr>
      <tr> <td>08:00</td>  <td>Introduction to the command line and Python</td> </tr>
      <tr> <td>10:00</td>  <td>Coffee/tea</td> </tr>
      <tr> <td>10:15</td>  <td>Introduction to the command line and Python (continued)</td> </tr>
      <tr> <td>12:15</td>  <td>Lunch</td> </tr>
      <tr> <td>1:00</td>  <td>Special activities??? or continued bootcamp?</td> </tr>
      <tr> <td>3:00</td>  <td>Introduction to machine learning with Python</td> </tr>
      <tr> <td>6:00</td>  <td>Dinner</td> </tr>
      <tr> <td>7:00</td>  <td>Evening discussion</td> </tr>
      <tr> <td>8:30</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
  <h3>Tuesday, Oct 15</h3>
    <table class="table table-striped">
      <tr> <td>07:45</td>  <td>Announcements and updates</td> </tr>
      <tr> <td>08:00</td>  <td>KEYNOTE: TBD <a href=""><i>Kristin Branson, Ph.D., Janelia Research Campus</i></a></td> </tr>
      <tr> <td>09:00</td>  <td><a href="">Measuring Behavior Across Scales <i>Gordon Berman, Ph.D., Emory University</i></a></td> </tr>
      <tr> <td>10:00</td>  <td>Coffee/tea</td> </tr>
      <tr> <td>10:15</td>  <td><a href="">Plenty of Room at the Top: Towards a Physics of Animal Behavior <i>Greg Stephens, Ph.D., Vrije Universiteit Amsterdam</i></a></td> </tr>
      <tr> <td>11:15</td>  <td><a href="">What Can the Body Tell Us About the Brain <i>Shreya Saxena, Ph.D., Yale University</i></a></td> </tr>
      <tr> <td>12:15</td>  <td>Lunch</td> </tr>
      <tr> <td>1:00</td>  <td>Special activities</td> </tr>
      <tr> <td>3:00</td>  <td>Workshop: SLEAP <i>Talmo Pereira, Ph.D., The Salk Institute for Biological Studies</i></td> </tr>
      <tr> <td>4:30</td>  <td>Workshop: DLC <i>Alexander Mathis, Ph.D., Ecole Polytechnique Federale de Lausanne</i></td> </tr>
      <tr> <td>6:00</td>  <td>Dinner</td> </tr>
      <tr> <td>7:00</td>  <td>Evening discussion</td> </tr>
      <tr> <td>8:30</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
  <h3>Wednesday, Oct 16</h3>
    <table class="table table-striped">
      <tr> <td>07:45</td>  <td>Announcements and updates</td> </tr>
      <tr> <td>08:00</td>  <td><a href="">Simulated Connectomes as Digital Sandbox to Understand Behavior <i>Benjamin De Bivort, Ph.D., Harvard University</i></a></td> </tr>
      <tr> <td>09:00</td>  <td>Machine Learning as a Lens for Action Selection <i>Jeff Markowitz, Ph.D., Georgia Tech and Emory University</i></td> </tr>
      <tr> <td>10:00</td>  <td>Coffee/tea</td> </tr>
      <tr> <td>10:15</td>  <td><a href="">Supervised Analysis of Behavior <i>Vivek Kumar, Ph.D., The Jackson Laboratory</i></a></td> </tr>
      <tr> <td>11:15</td>  <td><a href="">Revolutionizing Translational Psychiatry through Rodent Neuroethology <i>Yair Shemesh, Ph.D., Weizmann Institute of Science</i></a></td> </tr>
      <tr> <td>12:15</td>  <td>Lunch</td> </tr>
      <tr> <td>1:00</td>  <td>Special activities</td> </tr>
      <tr> <td>3:00</td>  <td>Workshop: Keypoint MoSeq</td> </tr>
      <tr> <td>4:30</td>  <td>Workshop: Motion Mapper</td> </tr>
      <tr> <td>6:00</td>  <td>Dinner</td> </tr>
      <tr> <td>7:00</td>  <td>Evening discussion</td> </tr>
      <tr> <td>8:30</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
  <h3>Thursday, Oct 17</h3>
    <table class="table table-striped">
      <tr> <td>07:45</td>  <td>Announcements and updates</td> </tr>
      <tr> <td>08:00</td>  <td>Establishing a Quantitative Framework for Mouse Locomotor Coordination <i>Megan Carey, Ph.D., Champalimaud Centre for the Unknown</i></td> </tr>
      <tr> <td>09:00</td>  <td><a href="">Quantifying Behavior in Dyadic Social Interactions <i>Ann Kennedy, Ph.D., Northwestern University</i></a></td> </tr>
      <tr> <td>10:00</td>  <td>Coffee/tea</td> </tr>
      <tr> <td>10:15</td>  <td>New Ideas in Quantifying Social Behavior <i>Joshua Shaevitz, Ph.D, Princeton University</i></td> </tr>
      <tr> <td>11:15</td>  <td><a href="">AI for Scientists: Perception and Discovery <i>Jennifer Sun, Ph.D., California Institute of Technology</i></a></td> </tr>
      <tr> <td>12:15</td>  <td>Lunch</td> </tr>
      <tr> <td>1:00</td>  <td>Special activities</td> </tr>
      <tr> <td>3:30</td>  <td>Workshop: Supervised Behavior </td> </tr>
      <tr> <td>5:00</td>  <td>Workshop: Advanced Modeling</td> </tr>
      <tr> <td>6:00</td>  <td>Dinner</td> </tr>
      <tr> <td>7:00</td>  <td>Evening discussion</td> </tr>
      <tr> <td>8:30</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
  <h3>Friday, Oct 18</h3>
    <table class="table table-striped">
      <tr> <td>07:45</td>  <td>Announcements and updates</td> </tr>
      <tr> <td>08:00</td>  <td>Establishing a Quantitative Framework for Mouse Locomotor Coordination <i>Megan Carey, Ph.D., Champalimaud Centre for the Unknown</i></td> </tr>
      <tr> <td>09:00</td>  <td><a href="">Quantifying Behavior in Dyadic Social Interactions <i>Ann Kennedy, Ph.D., Northwestern University</i></a></td> </tr>
      <tr> <td>10:00</td>  <td>Coffee/tea</td> </tr>
      <tr> <td>10:15</td>  <td>New Ideas in Quantifying Social Behavior <i>Joshua Shaevitz, Ph.D, Princeton University</i></td> </tr>
      <tr> <td>11:15</td>  <td><a href="">AI for Scientists: Perception and Discovery <i>Jennifer Sun, Ph.D., California Institute of Technology</i></a></td> </tr>
      <tr> <td>12:15</td>  <td>Lunch</td> </tr>
      <tr> <td>1:00</td>  <td>Special activities</td> </tr>
      <tr> <td>3:30</td>  <td>Workshop: Supervised Behavior </td> </tr>
      <tr> <td>5:00</td>  <td>Workshop: Advanced Modeling</td> </tr>
      <tr> <td>6:00</td>  <td>Dinner</td> </tr>
      <tr> <td>7:00</td>  <td>Evening discussion</td> </tr>
      <tr> <td>8:30</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
